.grid-container {
    display: block;
    width:350px;
    height: 350px;
    border: 1px solid black;
}

.dir{
    padding: 16px;
    height: 17px;
    background: #ddd;
}

.grid-outer {
    display: flex;
}
.dir-ver{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    width: 17px;
    padding: 16px;
    background: #ddd;
}
.grid {
    display: block;
    width: 250px;
    height: 250px;
    background: #333;
    border:1px solid #333;
}